.revealContent {
  animation: revealAnimation 2s;
  animation-delay: 0;
}

@keyframes revealAnimation {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
